<h3>Add a restaurant</h3>

<form action="/restaurants" method="post">
  <div>
    <label for="name">Enter restaurant's name: </label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label for="city">Enter restaurant's city: </label>
    <input type="text" name="city" required>
  </div>
  <div>
    <input type="submit" value="Ajouter">
  </div>
</form>

<button>
  <a href="/">Retourner à la liste</a>
</button>